
.Portfolio{
    font-family: 'Poppins', sans-serif;
    width: 70%;
    margin: auto;
}


.Portfolio .content{

display: flex;
padding:0 1rem;
align-items: center;
justify-content: space-between;
border: 1px #373737 solid;
width: 100%;


}
.Portfolio .right img{
    width: 408px;
    height: 239px;
    padding: 10px 0;
    object-fit: cover;
    
 }
@media screen and (max-width:930px) {
    .right img{
        margin-top: 20px;
    }
    .Portfolio .content  {                              
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        overflow: hidden;
          
       }
}
@media screen and (max-width:430px) {
    
    .Portfolio .right img{
        width: 303px;
        height: 189px;
    }
}
@media screen and (max-width:360px) {

    .Portfolio .right img{
        width: 252px;
        height: 146px;
    }
}

@media screen and (max-width:332px) {

    .Portfolio .right img{
        width: 261px;
        height: 161px;
        object-fit: cover;
    }
    .Portfolio .content{

        display: flex;
        padding:0 1rem;
        align-items: center;
        justify-content: space-between;
        border: 1px #aaa solid;
        width: 100%;
        margin-left: -15px;
        
        }
        .Portfolio{
            font-family: 'Poppins', sans-serif;
            width: 80%;
            margin: auto;
        }
}







