.about{
    font-family: 'Poppins', sans-serif;
    padding:4rem 4rem;
    /* width: 80%; */
    /* margin: auto; */
    

}
.about .contianer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s ease-in-out;
    margin-top: 6rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.about span{
    color: rgb(236, 172, 109);
}
.about .contianer .right{
    flex: 1;
}
.about .contianer .left{
    flex: 1;
}
@media screen and (max-width:1090px) {
    .about  {
        padding: 1rem;

    }
   
    .about .contianer .right img{
        width: 400px;
        margin: 10px;
       
    }
    .about .contianer .left{
        margin: 10px;
    }
}
@media screen and (max-width:520px) {
    .about  {
        padding: .5rem;

    }
   
    .about .contianer .right img{
        width: 300px;
        margin: 10px;
       
       
    }
    .about .contianer .left{
        margin: 10px;
    }
}


/* button */
.about .button-one {
    padding: 0.1rem 4rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: rgba(176, 173, 173, 0.953);
    position: relative;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  
  .about .button-one .text {
    position: absolute;
    left: .9rem;
    top: -0.7rem;
    transition: 0.4s ease-in-out;
    color: rgb(50, 50, 50);
  }
  
  .about .svg {
    transform: translateY(-20px) rotate(30deg);
    opacity: 0;
    width: 1.6rem;
    transition: 0.3s ease-in-out;
  }
  
  .about .button-one:hover {
    background-color: rgb(50, 50, 50);
  }
  
  .about .button-one:hover .svg {
    display: inline-block;
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
  
  .about .button-one:hover .text {
    opacity: 0;
  }
  
  .about .button-one:active {
    scale: 0.97;
  }