.Contact{                                             
    font-family: "Roboto","sans-serf";
    transition: .4s;
    width: 100%;
}
.Contact .contanier {
     padding: 1rem;
     background-color:rgb(124, 124, 124);
     height: 100%; 
     display: grid;
     grid-template-columns: repeat(auto-fit ,minmax(23rem, 1fr));
     gap: 1.5rem;
     overflow: hidden;
}
.Contact .contanier .box {
  padding: .5rem;

 
}
.Contact .contanier .box ul li{ 
    list-style: none;
    margin-bottom: 10px;
    transition: .5s ease;
    margin-left: 150px;
 
}
.Contact ul li:hover{
    padding-left: 10px; 
}

@media screen and (max-width:400px) {
  .Contact .contanier .box {
    padding: .5rem;
    width:fit-content;
  }
  .social-btn svg {
    height: 20px;
    width: 20px;
  }
  .social-btn {
    height: 40px;
    width: 40px;
  }
  .Contact .social-links,.flex-center {
    margin-top:10px;
    transition: .6s;
  }
  .Contact .box ul li{ 
    margin-left: 0px;
   
}
  
}


/* socal */
.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e81cff; */
    margin-top:90px;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  /* link contact */
  .Contact .contanier .one{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;

  }
  .Contact .box .icon{
  
    color: aliceblue;
    font-size: 20px;
    margin-right: 5px;
  }
  
