.navbar {
  background-color: rgb(255, 255, 255);
  padding: 0.3rem;

  color: rgb(10, 10, 10);
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: fixed;
  margin-bottom: 60px;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.navbar .logo img {
  width: 50px;
}

.navbar .container .nav-menu {
  display: flex;
}
.navbar .nav-menu ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  color: #646363;
}
.hamborger {
  display: none;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #666;
  transition: 360 ease-in-out 1s;
}
a {
  text-decoration: none;
  color: #343434;
  font-weight: 500;
}
/* hover */
.nav-menu ul li:after {
  content: "";
  position: absolute;
  background-color: #d4cfcf;
  height: 3px;
  width: 0px;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.nav-menu li:hover:after {
  width: 100%;
  color: #eae8e8;
}
/* button- text-me */
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #d10000;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0.5em;
  background: #646363;
  border: none;
  cursor: pointer;
}

.button2 > svg {
  height: 25px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -6px;
}

.button2:active {
  color: #666;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: none;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* media */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: absolute;
    background-color: rgb(7, 11, 48);
    display: flex;
    align-items: center;
    top: 60px;
    left: -100%;
    width: 70%;
    transition: all 0.4s ease;
  }
  .nav-menu.active {
    left: 0px;
    transition: 1s ease-in-out;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .container .nav-menu .btn {
    display: none;
  }
  .nav-menu ul li {
    margin-bottom: 20px;
  }
  .hamborger {
    display: block;
  }
}
@media screen and (max-width: 570px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .container .nav-menu .btn {
    display: none;
  }
  .navbar .container .contact {
    display: none;
  }
  .nav-menu {
    width: 100%;
    text-align: center;
  }
}
