.contanier h2,h4{
padding: 0 10rem;
font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:360px) {

    .contanier h2,h4{
        padding:0 1rem;
        font-family: 'Poppins', sans-serif;
        }
}